<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/students/{marathon_id}/add}" th:object="${student}" method="post">
    <p>Firstname: <input type="text" th:field="*{firstName}"/></p>
    <p>Lastname: <input type="text" th:field="*{lastName}"/></p>
    <p><input type="sublmit" value="Add student"/></p>
</form>
</body>
</html>



<!--<form action="#" th:action="@{/saveStudent}" th:object="${student}" method="post">-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <td><label th:text="#{msg.id}" /></td>-->
<!--            <td><input type="number" th:field="*{id}" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label th:text="#{msg.name}" /></td>-->
<!--            <td><input type="text" th:field="*{name}" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><input type="submit" value="Submit" /></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->