<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Подключаем плагин Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous" ></script>
    <title>Marathon List Directory</title>
</head>

<body>

<div class="container">

    <h3>Marathon List Directory</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempMarathon : ${marathons}">

            <td th:text="${tempMarathon.title}"></td>

            <td>
                <!-- Add "update" button/link -->
                <a th:href="@{/marathons/edit(marathonId=${tempMarathon.id})}"
                   class="btn btn-info btn-sm">
                    Edit
                </a>

                <!-- Add "delete" button/link -->
                <a th:href="@{/marathons/delete(marathonId=${tempMarathon.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to close this marathon?'))) return false">
                    Close
                </a>

            </td>


        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Create</button>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  >
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form th:action="@{/marathons/create}" th:object="${marathon}" method="post">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img src="https://icons.iconarchive.com/icons/gakuseisean/ivista-2/24/Misc-Web-Database-icon.png"></span></span>
                        <input type="text" th:field="*{title}" placeholder="Enter a name of marathon"/>
                        <button type="submit" class="btn btn-primary" >Create</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>