<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Подключаем плагин Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous" ></script>

    <title>Students</title>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>
    <div class="container">
        <h2>Students</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Lastname</th><th>Firstname</th><th>Email</th><th></th><th></th>
            </tr>
            <tbody>
                <tr th:each="student: ${students}">
                    <td>
                        <a th:text="${student.getLastName()}" th:href="@{/student/{student_id}(student_id=${student.getId()})}"></a>
                    </td>
                    <td th:text="${student.getFirstName()}"/>
                    <td th:text="${student.getEmail()}"/>
                    <td>
                        <button type="button" th:action="${newStudent.setId(student.getId())}" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm1" th:onclick="${newStudent.setMarathons(student.getMarathons())}">Edit</button>

                        <div class="modal fade bd-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  >
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <form th:action="@{/students/edit/{student_id} (student_id=${newStudent.getId()})}" th:object="${newStudent}" method="post">
                                        <div class="input-group input-group-lg">
                                            <img src="https://icons.iconarchive.com/icons/gakuseisean/ivista-2/32/Alarm-Plus-icon.png">
                                            <h4>Edit marathon:</h4>
                                                <span class="input-group-addon"></span></span>
                                            <div class="form-group has-success has-feedback">
                                                <input type="text" th:field="*{firstName}" class="form-control" placeholder="Firstname" >
                                                </br>
                                                <input type="text" th:field="*{lastName}" class="form-control" placeholder="Lastname" >
                                                </br>
                                                <input type="text" th:field="*{email}" class="form-control" placeholder="Email" >
                                                </br>
                                                <input type="text" th:field="*{password}" class="form-control" placeholder="Password" >
                                                </br>
                                                <button type="submit" class="btn btn-primary" onclick="if (!(confirm('Are you sure you want to edit this Student?'))) return false" >Edit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a th:href="@{/students/delete/{student_id}(student_id=${student.getId()})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure you want to remove this student?'))) return false">
                            Remove
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/home}"
           class="btn btn-info btn-sm">
            Main page
        </a>

    </div>
</body>
</html>