<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <h2>Students</h2>
    <table>
        <tr>
            <th>Lastname</th><th>Firstname</th><th>Email</th><th></th>
        </tr>
        <tr th:each="student: ${students}">
            <td>
                <a th:href="@{/student/{student_id}(id=${student.getId()})}">th:text="${student.getLastName()}"</a>
            </td>
            <td th:text="${student.getFirstName()}"/>
            <td th:text="${student.getEmail()}"/>
            <td>
                <a th:href="@{/delete/{student_id}(id=${student.getId()})}">Remove from marathon</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/students/{marathon_id}/add}(id=${student.getMarathonId()})}">Add student to Marathon</a>    <!-- student.getMarathonId()?????? -->
</body>
</html>


<!--‘Students’ page should contain information about all students from selected marathon-->

<!--There should be link ‘Remove from marathon’ next to each student-->
<!--When user clicks on ‘Remove from marathon’ link corresponding student should be deleted and 'Students' page should be reloaded-->
<!--Add button 'Add student to Marathon'. When user clicks on 'Add student to Marathon' button 'Student' page with empty fields should be opened-->
<!--When user clicks on student name ‘Student’ page with filled data about selected student should be opened-->