<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Подключаем плагин Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous" ></script>

    <title>List of tasks</title>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>
    <div class="container">
        <h2 th:text="${sprint.getTitle()}"></h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Task</th><th>Created</th><th>Updated</th>
            </tr>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.getTitle()}"/>
                <td th:text="${task.getCreated()}"/>
                <td th:text="${task.getUpdated()}"/>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/home}"
           class="btn btn-info btn-sm">
            Main page
        </a>
    </div>
</body>
</html>